.splash-logo-block {
  /*transform: scale(0.5);*/
  width: 500px;
}
.icon-size {
  font-size: 2.9em;
}
.icons {
  margin-top: -4px;
}
.logo-header {
  width: 200px;
  margin-top: 15px;
}
.user-balance {
  margin-top: 15px;
  margin-bottom: -5px;
  /*padding-right: 10px;*/
}
hr.white-hr {
  margin-top: -20px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white !important;
  margin: 1em 0;
  padding: 0;
}
hr.black-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black !important;
  margin: 1em 0;
  padding: 0;
}
.main-header-text {
  margin-left: 8px;
}
.test-box-tall {
  height: 300px;
  /*background-color: white;*/
}
.seller-menu {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*width: 150px;*/
  height:50px;
  border: 1px solid white;
  padding: 1px;
  margin: 5px;
  cursor: pointer;
}
.seller-menu-text {
  margin-top: 4px;
  padding-left: -12px;
  padding-bottom: -10px;
  opacity: .6;
}
.seller-menu:hover {
  opacity: .45;
}
.form-block {
  /*visibility: hidden;*/
  /*display: hidden;*/
}
.box {
  border: 1px solid grey;
  padding: 20px;
  /*margin: 15px;*/
}
.create-tokens-btn {
  cursor: pointer;
  margin-bottom: 10px !important;
}
.seller-token {
  opacity: .55;
}
.seller-token:hover {
  opacity: 1;
}
.token-text {
  font-size: 0.8em;
}
.token-list {
  opacity: .7;
}
.white-bg {
  background-color: white !important;
  height: 680px;
}
.black-color {
  color: black !important;
}
.buyer-menu {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*width: 150px;*/
  height:50px;
  border: 1px solid black;
  padding: 1px;
  margin: 5px;
  cursor: pointer;
}
.buyer-menu-text {
  margin-top: 4px;
  padding-left: -12px;
  padding-bottom: -10px;
  opacity: 1;
  color: black !important;
}
.black-box {
  border: 1px solid grey;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.order-block {
  opacity: .5;
  margin: 8px;
}
.order-block:hover {
  opacity: 1;
}
.black-box-big {
  border: 1px solid black;
  padding: 10px;
}
